services:
  {{ service_name | default(service_dns) }}:
    image: "{{ service_image }}"
    container_name: "{{ service_name | default(service_dns) }}"

    {% if service_routing_mode == 'caddy' -%}
    networks:
      - caddy
    {% else %}
    network_mode: service:wireguard
    {% endif %}

    labels:
      homepage.group: "{{ service_homepage.group }}"
      homepage.name: "{{ service_homepage.name | default(service_homepage.icon | capitalize)}}"
      homepage.icon: "{{ service_homepage.icon }}"
      homepage.href: "https://{{ service_dns }}.{{ service_dns_zone }}"
      homepage.description: "{{ service_homepage.description | default('') }}"
      homepage.weight: "{{ service_homepage.weight | default(100) }}"
      com.centurylinklabs.watchtower.enable: "{{ service_watchtower | default('true') }}"
      {% if service_routing_mode == 'caddy' -%}
      caddy: "{{ service_dns }}.{{ service_dns_zone }}"
      caddy.reverse_proxy: "{{ '{{' }}upstreams {{ service_port }}{{ '}}' }}"
      {% endif %}

    environment:
      {% for key, value in service_env_vars.items() -%}
      {{ key }}: "{{ value }}"
      {% endfor %}

    volumes:
      {% for item in service_mounts -%}
      - "{{ service_mounts_path }}/{{ service_dns }}.{{ service_dns_zone }}/{{ item | basename }}:{{ item }}"
      {% endfor %}

    restart: unless-stopped
    {% if service_nvidia_gpu %}
    runtime: nvidia
    {% endif %}

{% if service_routing_mode == 'caddy' %}
networks:
  caddy:
    external: true
{% endif %}
